@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* En tu archivo global.css o donde sea que definas tus estilos */
body {
  font-family: 'Montserrat', sans-serif;
  /* No necesitas importar la fuente en tus archivos de componentes */
}
